<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
  </head>
  <body>
    <h2>Our Contacts</h2>
    <p>Here you can find information how to reach us.</p>

    <h3>Send a message to us through the form:</h3>

    <br />
    <form method="POST" action="/message">
      <input name="message" type="text" />
      <button type="submit">Send</button>
    </form>

    <hr />

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="about">Contact Us</a></li>
      <li><a href="product">Our Products</a></li>
      <li><a href="service">Our Services</a></li>
    </ul>
  </body>
</html>
